####### Baseline R from GitHub

# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

###### ADDED by Bob

# other binary
*.o
*.exe

# temporary latex files
*~
*.idx
*.ilg
*.ind
*.fdb_latexmk
*.fls

# depedencies files
*.d
*.hpp.d.*
.Rproj.user
stan.Rproj
.Rapp.history

# For the Mac
*.DS_Store




